# Be sure to restart your server when you modify this file.
#
# # Your secret key is used for verifying the integrity of signed cookies.
# # If you change this key, all old signed cookies will become invalid!
#
# # Make sure the secret is at least 30 characters and all random,
# # no regular words or you'll be exposed to dictionary attacks.
# # You can use `rake secret` to generate a secure secret key.
#
# # Make sure the secrets in this file are kept private
# # if you're sharing your code publicly.
#
development:
  secret_key_base: 24253556dc184e27b179614ecd40e90bedbe861e7688f21e44c221350934b79d7ab50f45b89f46a84a074f96ad2628937def1e2a65bf4773092ebef5041392d1

#   test:
#     secret_key_base:
#     118b6d320415d6233683cd857288a128f6b92ad190162bcab5e6c903e15053c64bf1480966639f63e3f82a1dc623c3847ff025f7b82e8af5e11293db07c75d0d
#
#     # Do not keep production secrets in the repository,
#     # instead read values from the environment.
#     production:
#       secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
